{% extends "template.html" %}

{% block content %}



    <!-- Formulario de carga -->


       
                <div class="card text-dark border-info   mb-3" >
                    
                    <div class="card-body">

        

                                <form action="/analyticfile" method="POST" enctype="multipart/form-data" class="form">

                                    <div class="row mb-3">
                                        <div class="col font-weight-bold">
                                            <label  class="label" for="file">Seleccione el archivo de EXCEL configurado.</label>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col">
                                            <input  class="form-control" type="file" name="file" id="file" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <button  class="btn btn-dark" type="submit">ANALIZAR ARCHIVO</button>
                                        </div>
                                    </div>
                                    
                                    
                                    
                        </form>
                        
                    </div>
                </div>
      


                <!-- Mensajes Flash -->
                {% with messages = get_flashed_messages() %}
                
                    {% if messages %}
                    
                    <div class="alert border-info" role="alert">
                        <div  class="font-weight-bold mb-3">
                            Resultado:
                        </div>
                        
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endwith %}
            
        








<div class="row text-center">

    <div class="col">

        {% if stv == 1 %}
        <form action="/download_file" method="POST">
            <input type="hidden" name="statusv" value="1">
            <button class="btn btn btn-success" type="submit">DESCARGAR</button>
            </form>

        {% endif %}

    </div>

</div>

{% endblock %}