{% extends "template.html" %}

{% block content %}



    <!-- Formulario de carga -->


       
                <div class="card text-dark border-info   mb-3" >
                    
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">

                                <form action="/uploadfile" method="POST" enctype="multipart/form-data" class="form">

                                    <div class="row mb-3">
                                        <div class="col font-weight-bold">
                                            <label  class="label" for="file">Seleccione el archivo de EXCEL configurado.</label>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col">
                                            <input  class="form-control" type="file" name="file" id="file" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <button  class="btn btn-dark" type="submit">Subir archivo</button>
                                        </div>
                                    </div>      
                                    
                        </form>

                    </div>


                    <div class="col-6">
                        <form action="/clearfile" method="POST">
                            <input type="hidden" name="statusv" value="1">
                            <button class="btn btn btn-success" type="submit">LIMPIAR DATOS</button>
                            </form>
                    </div>

                    </div>
                        
                    </div>
                </div>
      


                <!-- Mensajes Flash -->
                {% with messages = get_flashed_messages() %}
                
                    {% if messages %}
                    
                    <div class="alert border-info" role="alert">
                        <div  class="font-weight-bold mb-3">
                            Resultado:
                        </div>
                        
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endwith %}
            
        



<div class="row text-center">

    <div class="col">
        {% if stcarga == 1 %}
        <form action="/analystfile" method="POST">
            <input type="hidden" name="status" value="1">
            <button class="btn btn btn-dark" type="submit">Analizar archivo.</button>
            </form>
        {% endif %}

    </div>
</div>




<div class="row text-center">

    <div class="col">

        {% if stdf == 1 %}
        <form action="/downloaderfile" method="POST">
            <input type="hidden" name="statusv" value="1">
            <button class="btn btn btn-success" type="submit">DESCARGAR</button>
            </form>

        {% endif %}

    </div>

</div>




{% if stdf == 1 %}


<div class="row text-center mt-3">
    <div class="col d-flex justify-content-center">

        <div class="card text-dark text-center bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">IMPORTANTE</div>
            <div class="card-body">
                <p class="card-text">Luego de finalizar la descarga limpiar datos!</p>
            </div>
        </div>

    </div>
</div>




{% endif %}







{% endblock %}